p { 
  color: #0b3c01;
  padding-top: 1px; 
}
.green {
  color: #80a60f;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 700;
}

.darkgreen {
  color: #0b3c01;
  font-size: 23px;
  font-family: Helvetica;
  font-weight: 900;
}

body {
  margin-left: 20%;
  margin-right: 20%;
}
header {
  background: linear-gradient(to top, #99cc01, #769715);
  height: 70px;
}
#logo {
  padding-left: 10px;
  padding-top: 10px;
}
nav {
  font-family: Myriad, sans-serif;
  font-color: #093500;
  font-size: 20px;
  padding-left: 30px;
  padding-top:  20px;
  padding-bottom: 20px;
}
nav a:link, nav a:visited {
  color: #093500;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
}
#home {
  padding-left: 10px;
  padding-right: 10px;
}
#about {
  padding-left: 10px;
  padding-right: 10px;
}
#research {
  padding-left: 10px;
  padding-right: 10px;
}
#serv {
  padding-left: 10px;
  padding-right: 10px;
}
#cont {
  padding-left: 10px;
}

#welcome {
  background-color: #ececf9;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: Helvetica;
}
#welcome h1, #welcome p {
  padding-top: 20px;
}
#labp {
  padding-left: 370px;
}
#wel {
  font-size: 30px;
  font-weight: 100;
  color: #0b3c01;
}
#lab {
  font-size: 30px;
  font-weight: 900;
  color: #0b3c01;
}
#img1 {
  float: left;
  margin: 7px;
}
#str1 {
  padding-left: 60px;
}

#tableContainer {
  margin: 10px;
  display: table;
  border-spacing: 10px;
}
#tableRow {
  display: table-row;
}

#abb {
  display: table-cell;
  width: 40%;
  vertical-align: top;
}

.secondRow {
  display: table-cell;
  vertical-align: top;
}

#img2 {
  float: left;
  padding: 10px;
}
#img3 {
  float: left;
  padding: 10px;
  }

#line {
  background-color: #ececf9;
  padding-bottom: 10px;
}